{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  io.socket/socket.io-client {:mvn/version "2.1.0"}
  com.taoensso/timbre {:mvn/version "6.3.1"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  }}
